:root{
    --primaryColor:#4c50d3;
    --secondaryColor:#ffce00;
    --fontColor:#1e1e1e;
    --whiteColor:#fff;
    --greyColor:#e7e7e7;
    --darkgreyColor:#5f5f5f;
    --sofpurple:#e7e8ff;
    --softblue:#c3e1ff;
    --softyellow:#fff5cc;
    --softred:#ffcbc8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}
body {
    background-color: var(--primaryColor);
    background-size: cover;
}
.loginHeader {
    text-align: center;
    margin-bottom: 60px;
}
.loginHeader h1 {
    font-size: 100px;
    color: var(--whiteColor);
    padding: opx;
    margin: 0px;
}
.loginHeader p {
    font-size: 50px;
    color: var(--whiteColor);
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}
.loginHeader p:after {
    content:'';
    display: block;
    height: 5px;
    background: var(--secondaryColor);
    width: 100%;
    margin: auto;
}
.loginBody form{
    margin: auto;
    width: 450px;
    background: var(--secondaryColor);
    padding: 50px;
    border-radius: 5px;
}
.loginInputContainer {
    margin-top: 20px;
}
.loginInputContainer label {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.loginInputContainer input {
    border: 1px solid var(--primaryColor);
    width: 100%;
    height: 35px;
    border-radius: 3px;
}
.btn-login {
    font-size: 18px;    
    border: none;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    margin-top: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
}
.btn-login:hover {
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    cursor: pointer;
}
h4{
margin-top: 20px;
}
a {
color: var(--primaryColor);
}